@import "../shared/components/components.scss";

.message {
  margin: auto;
  width: 50%;
}

.empty-state-container {
  height: 100%;
  background-color: #fff;
}

div[class*='style_empty-state'] {
  height: calc(100% - 32px);
}